/* Reset para REMS - 62.5% = 10px de 16px */
/* 16px es el default para los parrafos en html */
/* font-weight: 400 es el dafault para los parrafos */
/* font-weight: 700 es el dafault para los encabezados */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Colores */
:root {
    --fuentePrincipal: 'Staatlinches', cursive;
    --primario: #9c27b0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
}


body {
    font-size: 2rem;
    background-color: var(--primario);
    line-height: 2;
}

body.footer-fijo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.footer-fijo main {
    flex: 1;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

h1 {
    color: var(--secundario);
    text-align: center;
    font-size: 4rem;
    font-family: var(--fuentePrincipal);
}

p {
    color: #fff;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}


.btn-primario {
    background-color: var(--main-color);
}

.btn-secundario {
    background-color: var(--secondary-color);
}

.header {
    display: grid;
    justify-content: center;
    padding: 3rem 0;
}

.barra {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
}

.barra .nav {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-column-gap: 1rem;
    justify-content: center;
}

.barra .nav a {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.barra .nav a:hover {
    color: var(--secundario);
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media (min-width:768px) {
    .lista-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
}

.contenido-producto p {
    font-family: var(--fuentePrincipal);
    color: #fff;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

.contenido-producto .titulo {
    font-size: 4rem;
}

.contenido-producto .precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.grafico {
    min-height: 300px;
    grid-column: 1/3;
    background-size: cover;
    background-position: center center;
}

.grafico-1 {
    background-image: url(../img/grafico1.jpg);
    grid-row: 2/3;
    grid-column: 1/3;
}

.grafico-2 {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
    grid-column: 1/3;
}

@media (min-width:768px) {
    .grafico-2 {
        grid-row: 5/6;
        grid-column: 2/4;
    }
}

/* Nosotros */
@media (min-width:768px) {
    .contenedor-informacion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}



.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
    display: grid;
    justify-content: center;
}

.copyright {
    font-family: var(--fuentePrincipal);
    color: #fff;
    font-size: 2.2rem;
}

/* Formulario */
.formulario-pedido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: (2, 6rem);
    grid-gap: 1rem;
}

.campo {
    background-color: transparent;
    border: 5px solid #fff;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
    color: #fff;
}

.talla {
    -webkit-appearance: none;
    grid-column: 1/3;
}

.imagen-producto {
    display: grid;
    justify-content: center;
}

.boton {
    background-color: var(--secundario);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    border: none;
    transition: all .3s ease;
    grid-column: 1/4;
    padding: 2rem 0;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(233, 187, 2);
}